.custom-button {
    border-radius: 7px;
}

.inputbox {
    display: flex;
    align-items: center;
}

.eye-light-off-icon {
    background-image: url(../assets/image/eye-light-off.png);
}

.eye-light-on-icon {
    background-image: url(../assets/image/eye-light-on.png);
}

.expand-right-light-icon {
    background-image: url(../assets/image/expand-right-light.png);
}