header {

    justify-content: center;
}

.header-nav-bar {
    
    height: 100px; 
    padding: 10px 0;
}

.header-container {
    width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.4px;
}

.header-right-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-search-input-box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 43px;
    padding: 0 10px 0 12px;

    width: 233px;
    height: 30px;
    background-color: rgb(99, 99, 99);;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-search-input {
    flex: 1;

    border: none;
    background: none;
    outline: none;

    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.header-search-input::placeholder {
    color: #ababab; 
}

.header-nav-link {
    font-size: 18px; 
    color: rgb(138, 138, 138); 
    transition: color 0.3s;
}   

.header-nav-link:hover {
    color: #e7e6e6; /* 마우스 오버시 색상 변경 */
}


.header-profile-image {
    width: 40px; /* 원하는 크기로 조정 */
    height: 40px; /* 원하는 크기로 조정 */
    border-radius: 50%; /* 원형으로 만들기 */
    margin-left: 15px; /* 링크와의 간격 */
    cursor: pointer; /* 클릭 가능하게 보이기 */
}

.logo-light-icon {
    background-image: url(../../assets/image/logo-light.png);
}

.search-dark-icon {
    background-image: url(../../assets/image/search-dark.png);
}

.search-light-icon {
    background-image: url(../../assets/image/search-light.png);
}
  